<h1><%= t('pages.form') %></h1>

<div class="form-overview">
  <% service.pages.each do |page| %>
    <div class="form-step">
      <%= image_pack_tag('page_placeholder.png', class: 'form-thumbnail') %>
      <%= link_to page.url, edit_page_path(service.service_id, page.uuid) %>
    </div>
  <% end %>
</div>

<div class="component-dialog-form"
     id="new-page-create-dialog"
     data-activator-text="<%= t('pages.create') %>"
     data-cancel-text="<%= t('pages.cancel') %>">
  <%= form_for(@page_creation, as: :page, url: pages_path) do |f| %>
    <%= f.hidden_field :page_type, value: 'singlequestion', readonly: true %>
    <%= f.hidden_field :component_type, value: 'text', readonly: true %>
    <div class="govuk-form-group <%= !f.object.errors.empty? ? 'govuk-form-group--error' :'' %>">
      <%= f.label :page_url, class: "govuk-label govuk-label--m" %>
      <% f.object.errors.each do |error|  %>
        <%= error.message %>
        <span class="govuk-error-message"><%= error.message %></span>
      <% end %>
      <%= f.text_field :page_url, class: "govuk-input"  %>
    </div>
    <%= f.submit 'Add page', class: "govuk-button" %>
  <% end %>
</div>


<%# TODO: Backend to replace this with dynamic data-driven output %>
<ul class="govuk-navigation component-activated-menu"
    data-activator-text="<%= t('pages.create') %>">
  <li>
    <a href="#add-page" data-type="text">Single question page</a>
    <ul class="govuk-navigation">
      <li><a href="#add-page" data-type="text">Text</a></li>
      <li><a href="#add-page" data-type="text">Textarea</a></li>
      <li><a href="#add-page" data-type="text">Number</a></li>
      <li><a href="#add-page" data-type="text">Date</a></li>
      <li><a href="#add-page" data-type="text">Radio buttons</a></li>
      <li><a href="#add-page" data-type="text">Checkboxes</a></li>
    </ul>
  </li>
  <li><a href="#add-page" data-type="text">Multiple question page</a></li>
  <li>
    <a href="#add-page" data-type="text">Check answers page</a>
    <ul class="govuk-navigation">
      <li><a href="#add-page" data-type="text">Text</a></li>
      <li><a href="#add-page" data-type="text">Textarea</a></li>
      <li><a href="#add-page" data-type="text">Number</a></li>
    </ul>
  </li>
  <li><a href="#add-page" data-type="text">Confirmation page</a></li>
  <li><a href="#add-page" data-type="text">Content page</a></li>
</ul>


<%= form_for(@page_creation, as: :page, url: pages_path) do |f| %>
  <%= f.hidden_field :page_type, value: 'checkanswers', readonly: true %>
  <div class="govuk-form-group <%= !f.object.errors.empty? ? 'govuk-form-group--error' :'' %>">
    <%= f.label :page_url, class: "govuk-label govuk-label--m" %>
    <% f.object.errors.each do |error|  %>
      <%= error.message %>
      <span class="govuk-error-message"><%= error.message %></span>
    <% end %>
    <%= f.text_field :page_url, class: "govuk-input"  %>
  </div>
  <%= f.submit 'Add Check Answers page', class: "govuk-button" %>
<% end %>

<%= form_for(@page_creation, as: :page, url: pages_path) do |f| %>
  <%= f.hidden_field :page_type, value: 'confirmation', readonly: true %>
  <div class="govuk-form-group <%= !f.object.errors.empty? ? 'govuk-form-group--error' :'' %>">
    <%= f.label :page_url, class: "govuk-label govuk-label--m" %>
    <% f.object.errors.each do |error|  %>
      <%= error.message %>
      <span class="govuk-error-message"><%= error.message %></span>
    <% end %>
    <%= f.text_field :page_url, class: "govuk-input"  %>
  </div>
  <%= f.submit 'Add Confirmation page', class: "govuk-button" %>
<% end %>

