<h1><%= t('pages.form') %><h3>

<% service.pages.each do |page| %>
  <div>
    <%= link_to page.url, edit_page_path(service.service_id, page.uuid) %>
  </div>
<% end %>

<div>
  <%= form_for(@page_creation, as: :page, url: pages_path) do |f| %>
    <%= f.hidden_field :page_type, value: 'singlequestion', readonly: true %>
    <%= f.hidden_field :component_type, value: 'text', readonly: true %>
    <div class="govuk-form-group <%= !f.object.errors.empty? ? 'govuk-form-group--error' :'' %>">
      <%= f.label :page_url, class: "govuk-label govuk-label--m" %>
      <% f.object.errors.each do |error|  %>
        <%= error.message %>
        <span class="govuk-error-message"><%= error.message %></span>
      <% end %>
      <%= f.text_field :page_url, class: "govuk-input"  %>
    </div>
    <%= f.submit 'Add page', class: "govuk-button" %>
  <% end %>

  <%= form_for(@page_creation, as: :page, url: pages_path) do |f| %>
    <%= f.hidden_field :page_type, value: 'checkanswers', readonly: true %>
    <div class="govuk-form-group <%= !f.object.errors.empty? ? 'govuk-form-group--error' :'' %>">
      <%= f.label :page_url, class: "govuk-label govuk-label--m" %>
      <% f.object.errors.each do |error|  %>
        <%= error.message %>
        <span class="govuk-error-message"><%= error.message %></span>
      <% end %>
      <%= f.text_field :page_url, class: "govuk-input"  %>
    </div>
    <%= f.submit 'Add Check Answers page', class: "govuk-button" %>
  <% end %>

  <%= form_for(@page_creation, as: :page, url: pages_path) do |f| %>
    <%= f.hidden_field :page_type, value: 'confirmation', readonly: true %>
    <div class="govuk-form-group <%= !f.object.errors.empty? ? 'govuk-form-group--error' :'' %>">
      <%= f.label :page_url, class: "govuk-label govuk-label--m" %>
      <% f.object.errors.each do |error|  %>
        <%= error.message %>
        <span class="govuk-error-message"><%= error.message %></span>
      <% end %>
      <%= f.text_field :page_url, class: "govuk-input"  %>
    </div>
    <%= f.submit 'Add Confirmation page', class: "govuk-button" %>
  <% end %>
</div>
