<div class="fb-main-grid-wrapper" data-block-id="services" data-block-type="page" data-block-pagetype="services">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" data-block-id="signup-error" data-block-property="heading">
        Forms
      </h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <% services.each do |service| %>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <%= service.name %>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
        <% end %>
      </dl>

      <%= form_for(@service_creation, url: services_path) do |f| %>
        <% f.object.errors.each do |error|  %>
          <%= error.message %>
        <% end %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.submit t('services.create') %>
      <% end %>
    </div>
  </div>
</div>
