<div class="fb-main-grid-wrapper" data-block-id="services" data-block-type="page" data-block-pagetype="services">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl" data-block-id="signup-error" data-block-property="heading">
        Forms
      </h1>

      <ul class="fb-editor-list fb-editor-form-list">
        <% services.each do |service| %>
          <li id="service-<%= service.name.parameterize %>">
            <span class="name">
              <%= service.name %>
            </span>
            <span class="actions">
              <%= link_to t('services.edit'), edit_service_path(service.id), class: "govuk-link edit" %>
              <%= link_to t('services.preview'), preview_service_path(service.id), class: "govuk-link", target: '_blank' %>
            </span>
          </li>
        <% end %>
      </ul>

      <div class="component-dialog-form"
           id="new-service-create-dialog"
           data-activator-text="<%= t('services.create') %>"
           data-cancel-text="<%= t('services.cancel') %>">
        <%= form_for(@service_creation, url: services_path) do |f| %>
          <div class="govuk-form-group <%= !f.object.errors.empty? ? 'govuk-form-group--error' :'' %>">
            <%= f.label :service_name, class: "govuk-label govuk-label--m" %>
            <% f.object.errors.each do |error|  %>
              <span class="govuk-error-message"><%= error.message %></span>
            <% end %>
            <%= f.text_field :service_name, class: "govuk-input" %>
          <div>
          <%= f.submit t('services.create'), class: "govuk-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

