<h1 class="govuk-heading-xl"><%= t('settings.form_information') %></h1>

<%= form_for @settings, as: :service, url: settings_form_information_index_path(service.service_id) do |f| %>
  <div class="govuk-form-group <%= !f.object.errors.empty? ? 'govuk-form-group--error' :'' %>">
    <%= f.label :service_name, class: "govuk-label" do %>
      <%= f.object.class.human_attribute_name :service_name %>
      <span class="govuk-hint"><%= t('settings.form_information_help') %></span>
    <% end %>
    <% f.object.errors.each do |error|  %>
      <span class="govuk-error-message"><%= error.message %></span>
    <% end %>
    <%= f.text_field :service_name, class: "govuk-input width-responsive-two-thirds" %>
  </div>
  <%= f.submit t('actions.save'), class: "editor-button govuk-button fb-govuk-button" %>
<% end %>

