 <%= f.hidden_field :deployment_environment, value: deployment_environment %>

 <div class="govuk-form-group">
   <%= f.check_box :require_authentication, checked: f.object.existing_authentication?(deployment_environment: deployment_environment) %>
   <%= f.label :require_authentication %>
 </div>

 <div class="govuk-form-group <%= !f.object.errors[:username].empty? ? 'govuk-form-group--error' : '' %>">
  <% f.object.errors[:username].each do |message| %>
    <span class="govuk-error-message"><%= message %></span>
  <% end %>
   <%= f.label :username %>

   <%= f.text_field :username, value: f.object.username || f.object.service_configuration(
     name: ServiceConfiguration::BASIC_AUTH_USER,
     deployment_environment: deployment_environment
   ) %>
 </div>

 <div class="govuk-form-group <%= !f.object.errors[:password].empty? ? 'govuk-form-group--error' : '' %>">
  <% f.object.errors[:password].each do |message| %>
    <span class="govuk-error-message"><%= message %></span>
  <% end %>
   <%= f.label :password %>
   <%= f.password_field :password, value: f.object.password || f.object.service_configuration(
     name: ServiceConfiguration::BASIC_AUTH_PASS,
     deployment_environment: deployment_environment
   ) %>
 </div>
