 <%= f.hidden_field :deployment_environment, value: deployment_environment %>

 <% f.object.errors.each do |error|  %>
   <span class="govuk-error-message"><%= error.message %></span>
 <% end %>

 <div class="govuk-form-group">
   <%= f.check_box :require_authentication, checked: f.object.existing_authentication?(deployment_environment: deployment_environment) %>
   <%= f.label :require_authentication %>
 </div>

 <div class="govuk-form-group">
   <%= f.label :username %>

   <%= f.text_field :username, value: f.object.service_configuration(
     name: ServiceConfiguration::BASIC_AUTH_USER,
     deployment_environment: deployment_environment) %>
 </div>

 <div class="govuk-form-group">
   <%= f.label :password %>
   <%= f.password_field :password, value: f.object.service_configuration(
     name: ServiceConfiguration::BASIC_AUTH_PASS,
     deployment_environment: deployment_environment) %>
 </div>
