<h1><%= t('publish.name') %></h1>
<p>You are publishing the version from <span class="date version"><%= l(service.created_at.to_time, format: :date) %></span> <span class="time version"><%= l(service.created_at.to_time, format: :time) %></span> last updated by <span class="name by">C. Smith</span>.</p>

<h2><%= t('publish.heading') %></h2>

<p><%= t('publish.sub_heading') %></p>

<p><%= t('publish.version', time: l(service.created_at.to_time, format: :simple)) %></p>

<h2><%= t('publish.test') %></h2>

<span>
  <%= PublishServicePresenter.hostname_for(deployment_environment: 'dev', view: self) %>
</span>

<p><%= t('publish.test_sub_heading') %></p>

<%= form_for(@publish_service_creation_dev, url: publish_index_path(service.service_id)) do |f| %>
  <%= render 'form', f: f, deployment_environment: 'dev' %>

  <%= f.submit t('actions.publish_to_test'), class: 'govuk-button editor-button' %>
<% end %>

<h2><%= t('publish.live') %></h2>

<span>
  <%= PublishServicePresenter.hostname_for(deployment_environment: 'production', view: self) %>
</span>

<p><%= t('publish.live_sub_heading') %></p>

<%= form_for(@publish_service_creation_production, url: publish_index_path(service.service_id)) do |f| %>
  <%= render 'form', f: f, deployment_environment: 'production' %>

  <%= f.submit t('actions.publish_to_live'), class: 'govuk-button editor-button' %>
<% end %>
