<header class="govuk-header govuk-header__container" role="banner" data-module="govuk-header">
  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

  <div class="govuk-width-container">
    <a href="/" aria-label="<%= t('header.home_link_text') %>" id="header-logo-link" class="page-header__logo">
      <span class="govuk-visually-hidden"><%= t('header.home_link_text') %></span>
      <%= image_pack_tag "logo--white.svg", alt: t('header.home_link_alt') %>
    </a>
    <a href="/" class="govuk-header__link govuk-header__link--service-name">
      <%= t('header.service_name') %>
    </a>

    <% if user_signed_in? %>
      <ul class="govuk-navigation govuk-navigation-header govuk-!-font-size-19" aria-labelledby="editor-navigation-header">
        <li>
          <%= link_to t('.forms'), services_path %>
        </li>

        <li>
          <%= link_to t('.sign_out', user_name: user_name), user_session_path, method: :delete %>
        </li>
      </ul>
    <% end %>
  </div>
</header>
