<h1 class="govuk-heading-xl"><%= t('settings.form_information') %></h1>

<%= form_for @settings, as: :service, url: update_form_information_settings_path(service.service_id), method: :patch do |f| %>
  <% f.object.errors.each do |error|  %>
    <%= error.message %>
  <% end %>
  <div class="govuk-form-group">
    <%= f.label :service_name, class: "govuk-label" do %>
      <%= t('settings.form_information_label') %>
      <span class="govuk-hint"><%= t('settings.form_information_help') %></span>
    <% end %>
    <%= f.text_field :service_name, class: "govuk-input width-responsive-two-thirds" %>
  </div>
  <%= f.submit t('actions.save'), class: "govuk-button" %>
<% end %>

