<nav class="govuk-navigation" aria-label="Settings navigation">
  <h2 id="settings-navigation-heading" class="govuk-heading-xl"><%= t('settings.name') %></h2>
  <ul aria-labelledby="settings-navigation-heading" class="govuk-list">
    <li>
      <%= link_to t('settings.form_information'), settings_form_information_index_path(service.service_id), class: 'govuk-link' %>
          <br />
          <span class="govuk-hint" style= "display:block"><%= t('settings.form_information_hint') %></span>
   </li>
   <br />
    <li>
      <%= link_to t('settings.submission.name'), settings_submission_index_path(service.service_id), class: 'govuk-link' %>
      <br />
      <span class="govuk-hint" style= "display:block"><%= t('settings.submission.hint') %></span>
    </li>
  </ul>
</nav>
