<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MoJ Forms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render partial: 'partials/head_tags' %>
    <%= render partial: 'partials/properties' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <!-- Hotjar Tracking Code for Private Beta Research Study -->
    <% if live_platform? %>
      <script>
        (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:2316310,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
      </script>
    <% end %>
    <!-- Hotjar Tracking Code for Private Beta Research Study -->
  </head>

  <body class="govuk-template__body govuk-body">
    <%= render partial: 'partials/header' %>

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-width-container govuk-body-m" id="main-content" role="main">

      <%= yield %>

    </main>

    <%= render partial: 'partials/footer' %>
    <%= render partial: 'partials/template_dialog' %>
    <%= render partial: 'partials/template_dialog_confirmation' %>
    <%= render partial: 'partials/template_dialog_confirmation_delete' %>
  </body>
</html>
